In [88]:
import pandas as pd

In [89]:
# create Data Frame
pd.DataFrame({"Name" : ['vivek', 'darshan', 'chirag', 'manish'],
                         "Age" : [22, 21, 21, 21],
                         "Phone":[9537318019, 9099441250, 6352451526, 9898653526]})

   Age     Name       Phone
0   22    vivek  9537318019
1   21  darshan  9099441250
2   21   chirag  6352451526
3   21   manish  9898653526

In [90]:
# Data Frmae With Row Lables
pd.DataFrame({"Name" : ['vivek', 'darshan', 'chirag', 'manish'],
                         "Age" : [22, 21, 21, 21],
                         "Phone":[9537318019, 9099441250, 6352451526, 9898653526]}, index=['user1', 'user2', 'user3', 'user4'])

       Age     Name       Phone
user1   22    vivek  9537318019
user2   21  darshan  9099441250
user3   21   chirag  6352451526
user4   21   manish  9898653526

In [91]:
# Series
pd.Series([60, 40, 90, 20])

0    60
1    40
2    90
3    20
dtype: int64

In [92]:
# Series with Name
pd.Series([50, 30, 60, 80], name="Product_sales")

0    50
1    30
2    60
3    80
Name: Product_sales, dtype: int64

In [93]:
# Series with lables
pd.Series([50, 30, 50, 40], index=['apple', 'cherry', 'banana', 'mengo'], name='Fruite_sales_2020')

apple     50
cherry    30
banana    50
mengo     40
Name: Fruite_sales_2020, dtype: int64

In [94]:
# Reading Files
# create DataFrame From file
productSalesReport = pd.read_csv('./sample_data/1000_Sales_Records.csv')

In [95]:
# Get The Length of dataFrame
productSalesReport.shape

(1000, 15)

In [96]:
# df.head() display first five row of dataframe
productSalesReport.head()

,Unnamed: 0,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,1,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,2,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,3,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62
3,4,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
4,5,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45

In [97]:
# we can use the csv index as our df index as well

productSalesReport = pd.read_csv('sample_data/1000_Sales_Records.csv', index_col=0)
productSalesReport.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
2,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
3,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62
4,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
5,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45

In [98]:
# store data frame to csv
productSalesReport.to_csv('test.csv')

In [99]:
# accessing column from data frame

productSalesReport['Item Type']

1             Cosmetics
2            Vegetables
3             Baby Food
4                Cereal
5                Fruits
6                Cereal
7                Cereal
8               Clothes
9            Vegetables
10           Vegetables
11              Clothes
12               Snacks
13            Household
14            Cosmetics
15               Fruits
16              Clothes
17      Office Supplies
18            Beverages
19              Clothes
20            Household
21               Snacks
22              Clothes
23        Personal Care
24              Clothes
25               Cereal
26            Beverages
27            Beverages
28               Fruits
29                 Meat
30        Personal Care
             ...
971              Cereal
972          Vegetables
973                Meat
974             Clothes
975             Clothes
976                Meat
977           Household
978           Beverages
979           Beverages
980              Cereal
981           Beverages
982             Clothes
983              Snacks
984     Office Supplies
985       Personal Care
986     Office Supplies
987             Clothes
988           Household
989              Snacks
990              Cereal
991           Beverages
992              Cereal
993           Beverages
994           Baby Food
995                Meat
996              Snacks
997           Baby Food
998          Vegetables
999           Household
1000             Cereal
Name: Item Type, Length: 1000, dtype: object

In [100]:
# access specific cell of csv using dataframe index
productSalesReport['Item Type'][1]

'Cosmetics'

In [101]:
# Index based selection

In [102]:
productSalesReport.iloc[0]

Region            Middle East and North Africa
Country                                  Libya
Item Type                            Cosmetics
Sales Channel                          Offline
Order Priority                               M
Order Date                          10/18/2014
Order ID                             686800706
Ship Date                           10/31/2014
Units Sold                                8446
Unit Price                               437.2
Unit Cost                               263.33
Total Revenue                      3.69259e+06
Total Cost                         2.22409e+06
Total Profit                       1.46851e+06
Name: 1, dtype: object

In [103]:
# all columan, 5th row selection
productSalesReport.iloc[4,:]

Region            Sub-Saharan Africa
Country                         Chad
Item Type                     Fruits
Sales Channel                Offline
Order Priority                     H
Order Date                 8/16/2011
Order ID                   645713555
Ship Date                  8/31/2011
Units Sold                      9845
Unit Price                      9.33
Unit Cost                       6.92
Total Revenue                91853.9
Total Cost                   68127.4
Total Profit                 23726.5
Name: 5, dtype: object

In [104]:
# all rows, oth column
productSalesReport.iloc[:, 0]

1            Middle East and North Africa
2                           North America
3            Middle East and North Africa
4                                    Asia
5                      Sub-Saharan Africa
6                                  Europe
7                      Sub-Saharan Africa
8                                  Europe
9       Central America and the Caribbean
10                  Australia and Oceania
11                     Sub-Saharan Africa
12                                 Europe
13                                 Europe
14                     Sub-Saharan Africa
15                                   Asia
16                                 Europe
17                                 Europe
18                          North America
19                     Sub-Saharan Africa
20                     Sub-Saharan Africa
21                  Australia and Oceania
22                                 Europe
23           Middle East and North Africa
24                                   Asia
25      Central America and the Caribbean
26      Central America and the Caribbean
27                     Sub-Saharan Africa
28                          North America
29                     Sub-Saharan Africa
30                     Sub-Saharan Africa
                      ...
971     Central America and the Caribbean
972                    Sub-Saharan Africa
973     Central America and the Caribbean
974                                  Asia
975          Middle East and North Africa
976     Central America and the Caribbean
977                    Sub-Saharan Africa
978          Middle East and North Africa
979                    Sub-Saharan Africa
980                                Europe
981                 Australia and Oceania
982                 Australia and Oceania
983                                Europe
984          Middle East and North Africa
985                    Sub-Saharan Africa
986                    Sub-Saharan Africa
987                                  Asia
988                 Australia and Oceania
989                                Europe
990                 Australia and Oceania
991                    Sub-Saharan Africa
992                    Sub-Saharan Africa
993                                Europe
994                 Australia and Oceania
995                                  Asia
996          Middle East and North Africa
997                                Europe
998          Middle East and North Africa
999                                Europe
1000                               Europe
Name: Region, Length: 1000, dtype: object

In [105]:
# select first 3 rows with all column
productSalesReport.iloc[:3, :]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
1,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
2,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
3,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62

In [106]:
# select first 3 rows with last 3 columns
productSalesReport.iloc[:3, -3:]

   Total Revenue  Total Cost  Total Profit
1     3692591.20  2224085.18    1468506.02
2      464953.08   274426.74     190526.34
3      387259.76   241840.14     145419.62

In [107]:
# we can pass list as well
# select only 0th and 5th columns only with firdt 50 rows
productSalesReport.iloc[5, [0, 5]]

Region            Europe
Order Date    11/24/2014
Name: 6, dtype: object

In [108]:
# select only 10th and 100th row with all column
productSalesReport.iloc[[10, 100], :]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
11,Sub-Saharan Africa,Togo,Clothes,Online,M,12/29/2015,451010930,1/19/2016,3012,109.28,35.84,329151.36,107950.08,221201.28
101,North America,United States of America,Clothes,Offline,C,10/21/2010,699368035,12/7/2010,7398,109.28,35.84,808453.44,265144.32,543309.12

In [109]:
# Lable based selection

In [110]:
# row index matters here, not actula position of data
# get the row which has index 1
productSalesReport.loc[1]

Region            Middle East and North Africa
Country                                  Libya
Item Type                            Cosmetics
Sales Channel                          Offline
Order Priority                               M
Order Date                          10/18/2014
Order ID                             686800706
Ship Date                           10/31/2014
Units Sold                                8446
Unit Price                               437.2
Unit Cost                               263.33
Total Revenue                      3.69259e+06
Total Cost                         2.22409e+06
Total Profit                       1.46851e+06
Name: 1, dtype: object

In [111]:
# select first five row and only include [Unit Price, Item Type, Region] columns
productSalesReport.loc[:5, ['Unit Price', 'Item Type','Region']]

   Unit Price   Item Type                        Region
1      437.20   Cosmetics  Middle East and North Africa
2      154.06  Vegetables                 North America
3      255.28   Baby Food  Middle East and North Africa
4      205.70      Cereal                          Asia
5        9.33      Fruits            Sub-Saharan Africa

In [112]:
# Conditional selection
# it is like asking quetions and getting result from static data

In [113]:
# select only Asia Region
productSalesReport.loc[productSalesReport.Region == 'Asia']

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
15,Asia,Maldives,Fruits,Offline,L,1/8/2011,714135205,2/6/2011,7332,9.33,6.92,68407.56,50737.44,17670.12
24,Asia,Mongolia,Clothes,Online,L,12/12/2015,770478332,1/24/2016,515,109.28,35.84,56279.20,18457.60,37821.60
42,Asia,Mongolia,Beverages,Online,M,8/3/2013,329110324,9/2/2013,9913,47.45,31.79,470371.85,315134.27,155237.58
46,Asia,Laos,Beverages,Online,M,3/22/2013,693473613,4/21/2013,3107,47.45,31.79,147427.15,98771.53,48655.62
50,Asia,Bhutan,Meat,Online,H,12/9/2016,726708972,1/26/2017,8189,421.89,364.69,3454857.21,2986446.41,468410.80
56,Asia,Malaysia,Snacks,Offline,M,10/6/2012,175033080,11/5/2012,5033,152.58,97.44,767935.14,490415.52,277519.62
57,Asia,Uzbekistan,Office Supplies,Offline,L,3/10/2012,276595246,3/15/2012,9535,651.21,524.96,6209287.35,5005493.60,1203793.75
59,Asia,Nepal,Vegetables,Offline,C,6/2/2014,443121373,6/19/2014,8316,154.06,90.93,1281162.96,756173.88,524989.08
71,Asia,India,Fruits,Online,H,7/29/2010,658348691,8/22/2010,8862,9.33,6.92,82682.46,61325.04,21357.42
83,Asia,South Korea,Fruits,Offline,L,3/7/2010,769205892,3/17/2010,3972,9.33,6.92,37058.76,27486.24,9572.52
91,Asia,Philippines,Baby Food,Online,L,2/23/2014,160127294,3/23/2014,4079,255.28,159.42,1041287.12,650274.18,391012.94
108,Asia,China,Cosmetics,Offline,L,9/22/2011,773315894,11/4/2011,213,437.20,263.33,93123.60,56089.29,37034.31
112,Asia,Bangladesh,Baby Food,Online,H,8/17/2011,254927718,9/7/2011,7632,255.28,159.42,1948296.96,1216693.44,731603.52
116,Asia,Vietnam,Baby Food,Online,C,6/20/2011,881974112,7/11/2011,4594,255.28,159.42,1172756.32,732375.48,440380.84
118,Asia,Taiwan,Household,Online,C,1/23/2017,607261836,2/22/2017,1127,668.27,502.54,753140.29,566362.58,186777.71
126,Asia,Malaysia,Snacks,Offline,H,3/11/2010,600124156,4/21/2010,8929,152.58,97.44,1362386.82,870041.76,492345.06
133,Asia,China,Beverages,Offline,C,4/16/2013,332877862,5/7/2013,4811,47.45,31.79,228281.95,152941.69,75340.26
138,Asia,Uzbekistan,Personal Care,Offline,H,2/12/2013,707520663,3/15/2013,9942,81.73,56.67,812559.66,563413.14,249146.52
140,Asia,Mongolia,Meat,Offline,M,1/3/2015,573378455,1/17/2015,4281,421.89,364.69,1806111.09,1561237.89,244873.20
146,Asia,Brunei,Baby Food,Online,H,8/12/2015,510978686,9/30/2015,8803,255.28,159.42,2247229.84,1403374.26,843855.58
159,Asia,Vietnam,Office Supplies,Online,H,8/16/2016,606970441,9/16/2016,4897,651.21,524.96,3188975.37,2570729.12,618246.25
169,Asia,Japan,Beverages,Online,H,10/18/2012,981086671,11/21/2012,4203,47.45,31.79,199432.35,133613.37,65818.98
183,Asia,India,Personal Care,Online,L,12/24/2015,102928006,1/31/2016,7539,81.73,56.67,616162.47,427235.13,188927.34
189,Asia,Vietnam,Cosmetics,Offline,L,12/24/2016,827506387,1/30/2017,6384,437.20,263.33,2791084.80,1681098.72,1109986.08
201,Asia,China,Personal Care,Online,L,9/11/2012,637448060,9/15/2012,3901,81.73,56.67,318828.73,221069.67,97759.06
204,Asia,Bangladesh,Personal Care,Offline,M,7/26/2010,496941077,7/29/2010,4763,81.73,56.67,389279.99,269919.21,119360.78
205,Asia,Myanmar,Snacks,Online,L,6/24/2016,366526925,7/14/2016,2317,152.58,97.44,353527.86,225768.48,127759.38
229,Asia,South Korea,Baby Food,Online,L,11/21/2013,780282342,12/27/2013,1739,255.28,159.42,443931.92,277231.38,166700.54
232,Asia,Bangladesh,Personal Care,Online,L,10/15/2016,927232635,11/24/2016,7597,81.73,56.67,620902.81,430521.99,190380.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,Asia,Kyrgyzstan,Vegetables,Offline,H,1/29/2017,348286616,2/13/2017,4604,154.06,90.93,709292.24,418641.72,290650.52
828,Asia,Thailand,Vegetables,Online,L,7/17/2010,976871955,8/31/2010,6975,154.06,90.93,1074568.50,634236.75,440331.75
831,Asia,China,Cosmetics,Offline,M,1/14/2017,586165082,1/27/2017,8128,437.20,263.33,3553561.60,2140346.24,1413215.36
833,Asia,Cambodia,Cereal,Online,L,10/3/2011,899853074,10/26/2011,5376,205.70,117.11,1105843.20,629583.36,476259.84
846,Asia,North Korea,Cosmetics,Offline,C,2/17/2017,157244670,3/15/2017,1047,437.20,263.33,457748.40,275706.51,182041.89
849,Asia,Singapore,Cosmetics,Offline,L,10/23/2014,970611894,11/10/2014,4483,437.20,263.33,1959967.60,1180508.39,779459.21
850,Asia,Malaysia,Baby Food,Offline,M,12/16/2016,677394092,12/29/2016,4820,255.28,159.42,1230449.60,768404.40,462045.20
856,Asia,Philippines,Fruits,Offline,L,5/4/2013,827964293,6/1/2013,1888,9.33,6.92,17615.04,13064.96,4550.08
868,Asia,Myanmar,Beverages,Online,H,9/20/2011,644772422,10/26/2011,1343,47.45,31.79,63725.35,42693.97,21031.38
871,Asia,Cambodia,Baby Food,Offline,C,1/2/2012,556738889,1/25/2012,264,255.28,159.42,67393.92,42086.88,25307.04
878,Asia,Vietnam,Personal Care,Offline,L,6/18/2017,109358012,7/10/2017,321,81.73,56.67,26235.33,18191.07,8044.26
890,Asia,North Korea,Beverages,Online,C,8/16/2013,829352176,8/26/2013,2594,47.45,31.79,123085.30,82463.26,40622.04
891,Asia,North Korea,Household,Online,M,7/14/2015,974337804,8/7/2015,7063,668.27,502.54,4719991.01,3549440.02,1170550.99
902,Asia,Japan,Cosmetics,Online,L,1/6/2016,453569972,2/19/2016,289,437.20,263.33,126350.80,76102.37,50248.43
914,Asia,Myanmar,Vegetables,Offline,L,1/14/2013,416386401,2/16/2013,6844,154.06,90.93,1054386.64,622324.92,432061.72
922,Asia,Bhutan,Beverages,Offline,M,8/5/2014,554707705,9/19/2014,9192,47.45,31.79,436160.40,292213.68,143946.72
924,Asia,Indonesia,Personal Care,Online,H,9/10/2011,777840888,10/23/2011,9259,81.73,56.67,756738.07,524707.53,232030.54
931,Asia,Nepal,Cereal,Offline,H,1/13/2015,677284657,1/15/2015,2436,205.70,117.11,501085.20,285279.96,215805.24
932,Asia,Nepal,Fruits,Online,C,7/22/2014,673803794,7/29/2014,2371,9.33,6.92,22121.43,16407.32,5714.11
936,Asia,Maldives,Personal Care,Online,M,10/9/2013,849312102,11/23/2013,9180,81.73,56.67,750281.40,520230.60,230050.80
939,Asia,Maldives,Clothes,Offline,M,12/11/2016,801213872,1/28/2017,5844,109.28,35.84,638632.32,209448.96,429183.36
941,Asia,India,Cereal,Online,C,3/27/2010,160299813,4/6/2010,5132,205.70,117.11,1055652.40,601008.52,454643.88
942,Asia,Tajikistan,Beverages,Offline,C,9/11/2014,337022197,9/22/2014,1212,47.45,31.79,57509.40,38529.48,18979.92
944,Asia,Bhutan,Office Supplies,Offline,M,10/19/2011,221007430,11/10/2011,9865,651.21,524.96,6424186.65,5178730.40,1245456.25
960,Asia,Indonesia,Personal Care,Offline,H,8/17/2016,334612929,10/3/2016,8256,81.73,56.67,674762.88,467867.52,206895.36
961,Asia,Mongolia,Beverages,Offline,M,4/23/2014,270611131,5/24/2014,8702,47.45,31.79,412909.90,276636.58,136273.32
970,Asia,Laos,Snacks,Offline,M,1/3/2012,232389438,1/8/2012,8054,152.58,97.44,1228879.32,784781.76,444097.56
974,Asia,Brunei,Clothes,Offline,H,8/6/2011,612573039,8/9/2011,2830,109.28,35.84,309262.40,101427.20,207835.20
987,Asia,Mongolia,Clothes,Offline,H,9/23/2016,308168065,10/18/2016,2633,109.28,35.84,287734.24,94366.72,193367.52
995,Asia,Nepal,Meat,Offline,C,4/9/2017,919890248,5/18/2017,4821,421.89,364.69,2033931.69,1758170.49,275761.20

In [114]:
# get all the iteams which region is Asia and has lessthen 10K profit
productSalesReport.loc[ (productSalesReport.Region == 'Asia') & (productSalesReport['Total Profit'] <= 10000)]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
83,Asia,South Korea,Fruits,Offline,L,3/7/2010,769205892,3/17/2010,3972,9.33,6.92,37058.76,27486.24,9572.52
341,Asia,North Korea,Snacks,Online,C,3/13/2017,522371423,4/8/2017,167,152.58,97.44,25480.86,16272.48,9208.38
438,Asia,Kyrgyzstan,Fruits,Online,C,1/14/2012,402614009,3/2/2012,1287,9.33,6.92,12007.71,8906.04,3101.67
564,Asia,Mongolia,Fruits,Online,M,9/12/2013,171131217,10/8/2013,385,9.33,6.92,3592.05,2664.20,927.85
856,Asia,Philippines,Fruits,Offline,L,5/4/2013,827964293,6/1/2013,1888,9.33,6.92,17615.04,13064.96,4550.08
878,Asia,Vietnam,Personal Care,Offline,L,6/18/2017,109358012,7/10/2017,321,81.73,56.67,26235.33,18191.07,8044.26
932,Asia,Nepal,Fruits,Online,C,7/22/2014,673803794,7/29/2014,2371,9.33,6.92,22121.43,16407.32,5714.11

In [115]:
# get all the iteams which Country is Nepal or Bhutan and has greater then 50K profit
productSalesReport.loc[(productSalesReport.Country.isin(['Nepal', 'Bhutan'])) & (productSalesReport['Total Profit'] >= 50000)]

# above query can be solved othjer way as well 
# productSalesReport.loc[( (productSalesReport.Country == 'Nepal') | (productSalesReport.Country == 'Bhutan')) & (productSalesReport['Total Profit'] >= 50000)]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
50,Asia,Bhutan,Meat,Online,H,12/9/2016,726708972,1/26/2017,8189,421.89,364.69,3454857.21,2986446.41,468410.80
59,Asia,Nepal,Vegetables,Offline,C,6/2/2014,443121373,6/19/2014,8316,154.06,90.93,1281162.96,756173.88,524989.08
437,Asia,Bhutan,Clothes,Online,M,7/12/2012,147119653,8/9/2012,4829,109.28,35.84,527713.12,173071.36,354641.76
648,Asia,Bhutan,Snacks,Online,H,6/27/2015,505975615,7/4/2015,8283,152.58,97.44,1263820.14,807095.52,456724.62
760,Asia,Bhutan,Meat,Online,C,5/13/2014,251800048,5/22/2014,2085,421.89,364.69,879640.65,760378.65,119262.00
922,Asia,Bhutan,Beverages,Offline,M,8/5/2014,554707705,9/19/2014,9192,47.45,31.79,436160.40,292213.68,143946.72
931,Asia,Nepal,Cereal,Offline,H,1/13/2015,677284657,1/15/2015,2436,205.70,117.11,501085.20,285279.96,215805.24
944,Asia,Bhutan,Office Supplies,Offline,M,10/19/2011,221007430,11/10/2011,9865,651.21,524.96,6424186.65,5178730.40,1245456.25
995,Asia,Nepal,Meat,Offline,C,4/9/2017,919890248,5/18/2017,4821,421.89,364.69,2033931.69,1758170.49,275761.20

In [116]:
# get all record which total profit is null
productSalesReport.loc[productSalesReport['Total Profit'].isnull()]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
25,Central America and the Caribbean,Grenada,Cereal,Online,H,10/28/2012,430390107,11/13/2012,852,205.7,117.11,175256.4,99777.72,NaN